<div class="testimonial outer">

    <div class="inner">
        
        <div class="card full">
            <h1 class="entry-title">
                <p>
                    Working with Alex means working on a well-defined project. Passionate about statistics, he's capable to design through in-depth data analysis and complex analytical concepts. Skilled in the strategies’ construction, as well as in timing and project delivery specifications.
                </p>
            </h1>
            <small>
                <div class="author-avatar">
                    <img src="{{asset 'img/claudio-caputo.jpeg'}}" alt="Claudio Caputo Review" class="author-profile-image">
                </div>
                Claudio Caputo <br/>
                <a href="">COO at PayClick – Cerved On_</a>
            </small>
        </div>

    </div>

</div>